<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyr.permission.domain.role.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.pyr.permission.domain.role.model.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creatorIp" jdbcType="VARCHAR" property="creatorIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, type, status, remark, creator_id, create_time,update_time,creatorIp
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
    </select>

    <select id="countByName" parameterType="string" resultType="int">
        SELECT count(1)
        FROM sys_role
        WHERE name = #{name}
    </select>
</mapper>