<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyr.permission.domain.user.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.pyr.permission.domain.user.model.SysUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="passward" jdbcType="VARCHAR" property="passward"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="creatorIp" jdbcType="VARCHAR" property="creatorIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_name, telephone, mail, passward, department_id, status, remark, creator_id,
    create_time, creatorIp
    </sql>
    <select id="countByMail" parameterType="map" resultType="int">
        SELECT count(1)
        FROM sys_user
        WHERE mail = #{mail}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="countByTelephone" parameterType="map" resultType="int">
        SELECT count(1)
        FROM sys_user
        WHERE telephone = #{telephone}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="findByKeyword" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE user_name=#{keyword} OR telephone = #{keyword} OR mail = #{keyword}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.pyr.permission.domain.user.model.SysUser">
        insert into sys_user (id, user_name, telephone,
                              mail, passward, department_id,
                              status, remark, creator_id,
                              create_time, creatorIp)
        values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
                #{mail,jdbcType=VARCHAR}, #{passward,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER},
                #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{creatorIp,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.pyr.permission.domain.user.model.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="mail != null">
                mail,
            </if>
            <if test="passward != null">
                passward,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="creatorIp != null">
                creatorIp,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="mail != null">
                #{mail,jdbcType=VARCHAR},
            </if>
            <if test="passward != null">
                #{passward,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorIp != null">
                #{creatorIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pyr.permission.domain.user.model.SysUser">
        update sys_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="mail != null">
                mail = #{mail,jdbcType=VARCHAR},
            </if>
            <if test="passward != null">
                passward = #{passward,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorIp != null">
                creatorIp = #{creatorIp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pyr.permission.domain.user.model.SysUser">
        update sys_user
        set user_name     = #{userName,jdbcType=VARCHAR},
            telephone     = #{telephone,jdbcType=VARCHAR},
            mail          = #{mail,jdbcType=VARCHAR},
            passward      = #{passward,jdbcType=VARCHAR},
            department_id = #{departmentId,jdbcType=INTEGER},
            status        = #{status,jdbcType=INTEGER},
            remark        = #{remark,jdbcType=VARCHAR},
            creator       = #{creator,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            creatorIp     = #{creatorIp,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="countByDepartmentId" parameterType="int" resultType="int">
        SELECT count(1)
        FROM sys_user
        WHERE department_id = #{deptId}
    </select>

    <select id="pageByDepartmentId" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE department_id = #{deptId}
        LIMIT #{page.offset}, #{page.pageSize}
    </select>
</mapper>