<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyr.permission.domain.role.mapper.SysAclMapper">
    <resultMap id="BaseResultMap" type="com.pyr.permission.domain.role.model.SysAcl">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="acl_module_id" jdbcType="BIGINT" property="aclModuleId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator_ip" jdbcType="VARCHAR" property="creatorIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , code, name, acl_module_Id, url, type, status, seq, remark, creator_id, create_time,
    creator_ip
    </sql>
    <select id="countByNameAndAclModuleId" parameterType="map" resultType="int">
        SELECT count(1)
        FROM sys_acl
        WHERE acl_module_id = #{aclModuleId}
        AND name = #{name}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="countByAclModuleId" parameterType="map" resultType="int">
        SELECT count(1)
        FROM sys_acl
        WHERE acl_module_id = #{aclModuleId}
    </select>

    <select id="getPageByAclModuleId" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_acl
        WHERE acl_module_id = #{aclModuleId}
        ORDER BY seq ASC, name ASC
        LIMIT #{page.pageSize} OFFSET #{page.offset}
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_acl
    </select>
    <select id="getByIdList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_acl
        WHERE id IN
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getByUrl" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_acl
        WHERE url = #{url} <!-- url is not null and url != '' and  #{url} REGEXP url-->
    </select>
</mapper>