<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyr.permission.domain.role.mapper.SysAclModuleMapper">
    <resultMap id="BaseResultMap" type="com.pyr.permission.domain.role.model.SysAclModule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator_ip" jdbcType="VARCHAR" property="creatorIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, parent_id, level, status, seq, remark, creator_id, update_time,update_time,creator_ip
    </sql>
    <select id="countByNameAndParentId" parameterType="map" resultType="int">
        SELECT count(1)
        FROM sys_acl_module
        WHERE name = #{name}
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>
    <select id="getAllAclModule" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_acl_module
    </select>
    <select id="countByParentId" parameterType="long" resultType="int">
        SELECT count(1)
        FROM sys_acl_module
        WHERE parent_id = #{aclModuleId}
    </select>
    <select id="getChildAclModuleListByLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl_module
        WHERE level like #{level}
    </select>
    <update id="batchUpdateLevel" parameterType="map">
        <foreach collection="sysAclModuleList" item="sysAclModule" separator=";">
            UPDATE sys_acl_module
            SET level = #{sysAclModule.level}
            WHERE id = #{sysAclModule.id}
        </foreach>
    </update>
</mapper>