<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyr.permission.domain.role.mapper.SysRoleUserMapper">
    <resultMap id="BaseResultMap" type="com.pyr.permission.domain.role.model.SysRoleUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creatorIp" jdbcType="VARCHAR" property="creatorIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_id, role_id, remark, creator_id, update_time,update_time,creatorIp
    </sql>
    <select id="getUserIdListByRoleId" parameterType="map" resultType="long">
        SELECT user_id
        FROM sys_role_user
        WHERE role_id = #{roleId}
    </select>

    <delete id="deleteByRoleId" parameterType="long">
        DELETE
        FROM sys_role_user
        WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert" parameterType="map">
        insert into sys_role_user (id, role_id, user_id, creator_id, create_time, creator_ip)
        values
        <foreach collection="roleUserList" item="roleUser" separator=",">
            (#{roleUser.id}, #{roleUser.roleId}, #{roleUser.userId},#{roleUser.creatorId}, #{roleUser.createTime},
            #{roleUser.creatorIp})
        </foreach>
    </insert>

    <select id="getRoleIdListByUserId" parameterType="map" resultType="long">
        SELECT role_id
        FROM sys_role_user
        WHERE user_id = #{userId}
    </select>

</mapper>