<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyr.permission.domain.role.mapper.SysRoleAclMapper">
    <resultMap id="BaseResultMap" type="com.pyr.permission.domain.role.model.SysRoleAcl">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="acl_id" jdbcType="BIGINT" property="aclId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator_ip" jdbcType="VARCHAR" property="creatorIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , role_id, acl_id, remark, creator_id, update_time,update_time,creator_ip
    </sql>
    <select id="getAclIdListByRoleIdList" parameterType="map" resultType="long">
        SELECT acl_id
        FROM sys_role_acl
        WHERE role_id in
        <foreach collection="roleIdList" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>

    <delete id="deleteByRoleId" parameterType="long">
        DELETE
        FROM sys_role_acl
        WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert" parameterType="map">
        insert into sys_role_acl (id, role_id, acl_id, creator_id, create_time, creator_ip)
        values
        <foreach collection="roleAclList" item="roleAcl" separator=",">
            (#{roleAcl.id}, #{roleAcl.roleId}, #{roleAcl.aclId}, #{roleAcl.creatorId}, #{roleAcl.createTime},
            #{roleAcl.creatorIp})
        </foreach>
    </insert>
    <select id="getRoleIdListByAclId" parameterType="long" resultType="long">
        SELECT role_id
        FROM sys_role_acl
        WHERE acl_id = #{aclId}
    </select>
</mapper>